body {
    padding: 10px;
}

#h2New {
    margin-bottom: 20px;
    margin-left: 0%;
}

h2 {
    margin-bottom: 20px;
    margin-left: 13%;
}

h4 {
    color: maroon;
}

h7 {
    font-weight: bold;
}

.row {
    border-style: none;
}

.listing_container {
    display: grid;
    grid-template-areas: 'text text image image';
    grid-template-columns: auto auto auto auto;
    row-gap: 1px; 
    width: 100%;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    justify-items: left;
    border-color: rgb(255, 255, 255);
}

.listing_container > div {
    background-color: white;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-areas: 'text text text image';
    grid-template-columns: auto auto auto 25%;
    row-gap: 1px; 
    width: 100%;
    border: 1px solid;
    border-color: rgb(197, 197, 197);
    margin-left: auto;
    margin-right: auto;
    justify-items: left;
}

.container > div {
    background-color: white;
    padding: 20px;
}

.text { 
    grid-area: text; 
    position: relative;
    left: auto;
    grid-column-start: 0;
    grid-column-end: 3;     
}

.image { 
    grid-area: image; 
    grid-column-start: 4;
}    

ul {
    list-style: none;
}

hr {
    border-color: grey;
}

.bid_form {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    border-style: hidden;
}

input[type=submit], button {
    display: block;
    margin: 5px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 140px;
    border-style: hidden;
}


input[type=text] {
    padding: 7px;
    font: arial;
    width: 75%;
    border-radius: 0%;
    display: block;
} 