{% extends "auctions/layout.html" %}

{% block body %}
    <div>
        {% if message %}
            <i>{{ message }}</i>
        {% endif %}
    </div>
    
    <h2>Active Listings</h2>
    
    <ul>
        {% for listing in listings %}
        <div class="container">
            <div class="text">
                <a href="{% url 'listing' listing.list_title %}"><h5>{{ listing.list_title }}</h5></a>
                <li>            
                    <h6>Posted by: {{ listing.poster_id }}</h6> 
                    <h7>Current price: ${{ listing.highest_bid }}</h7> <br><br>
                    {{ listing.description }}                                               
                </li>
            </div>
            <div class="image">
                <img src="{{ listing.image_url }}" alt="(No picture)" width="200" height="125"> 
            </div>
        </div>
        {% endfor %}
    </ul>

{% endblock %}